body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px ;
    line-height: 1.5em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color:orange;
    color: #ffffff;
}

#navbar{
    background-color: #333333;
    color: #ffffff;
}

#navbar ul{
    padding : 0;
    list-style: none;
}

#navbar li{
    display: inline;
}
#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url(bg-image.jpg);
    background-position: center right ;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.5em;
    padding-top: 10px;
}

#main
{
    float:left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar
{
    float:right;
    width: 30%;
    background-color: darkgray;
    color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

.clr{
    clear: both;
}
#main-footer{
    background-color: #555;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){

    #main{
        width: 100%;
        float:none;
    }
    #sidebar{
        widows: 100%;
        float: none;
    }
}